{{#partial "title"}}
    SparkBlog - {{entry.title}}
{{/partial}}
{{#partial "content"}}
    <section>
        <div class="entry-list single">
            <article>
            <h1>{{entry.title}}</h1>
            <p>by {{entry.author}}</p>
            <p>updated on {{entry.date}}</p>
            <p class="entry">{{entry.content}}</p>
            </article>
            <h3>Tags:</h3>
            <p>{{#each entry.tags}}<a href="/tags/{{this}}">{{this}}</a>, {{/each}}</p>
            {{#if username}}
            <br>
            <form action="/entries/{{entry.slug}}/edit" method="get"><button class="button">Edit Entry</button></form>
            <br>
            {{/if}}
            <form action="/entries" method="get"><button class="button">Back to entry list</button></form>
        </div>
    </section>
    <section class="comments">
        <div class="entry-comments">
            <h2>Comments</h2>
            <section class="individualComment">
                {{#each entry.comments}}
                    <h3>{{this.title}} by <a href="/{{this.author}}">{{this.author}}</a></h3>
                    <p>on {{this.date}}</p>
                    <p>{{this.comment}}</p>
                    <br>
                {{/each}}
            </section>
            <form action="/entries/{{entry.slug}}/comment" method="post" class="new-comment">
                <br>
                <label for="Title">Title:</label>
                <input type="text" id="Title" name="title">
                <label for="comment">Comment:</label>
                <textarea name="comment" id="comment"></textarea>
                <input type="submit" class="button" value="submit">
                <br>
            </form>
        </div>
    </section>
{{/partial}}

{{> hbs/base.hbs}}